<div style="padding-top: 40px;"></div>
<div class="row">
    <div class="col-10 mx-auto animated fadeIn slow">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title fuenteNexosMedical">Listado de pacientes</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-8"></div>
                    <div class="col-md-4 form-inline my-2 my-lg-0 justify-content-end">
                        <button routerLink="/settingpaciente/nuevo" class="btn btn-info">Nuevo</button>
                    </div>
                </div>
                <table id="grid" *ngIf="!cargando && pacienteapp.length > 0" class=" table table-bordered table-striped mt-2 animated fadeIn faster ">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nombre Completo</th>
                            <th>Seguro Social</th>
                            <th>Codigo Postal</th>
                            <th>Telefono Contacto</th>
                            <th>Medico Asignado</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let uList of pacienteapp; let i=index">
                            <td scope="row ">{{ i + 1 }}</td>
                            <td>{{ uList.NombreCompleto }}</td>
                            <td>{{ uList.NumeroSeguroSocial }}</td>
                            <td>{{ uList.CodigoPostal }}</td>
                            <td>{{ uList.TelefonoContacto }}</td>
                            <td>
                                <button class="btn btn-primary btn-sm mr-sm-2 " (click)="listarDoctorAsignado(uList.Id)">
                                    Doctor Asignado
                                </button>
                                <div *ngIf="medico===true && doctorasignadoapp.length">
                                    <div *ngFor="let uListDoctores of doctorasignadoapp">
                                        DR: {{uListDoctores.NombreCompleto}}
                                    </div>
                                </div>
                            </td>
                            <th>
                                <button class="btn btn-primary btn-sm mr-sm-2" [routerLink]="[ '/asignardoctor', uList.Id ]">
                                    <i class="fas fa-user "></i>
                                </button>
                                <button class=" btn btn-warning btn-sm mr-sm-2 " [routerLink]="[ '/settingpaciente', uList.Id ]">
                                    <i class="fas fa-pen "></i>
                                </button>
                                <button class="btn btn-danger btn-sm mr-sm-2 " (click)="eliminarPacienteApp(uList.Id, i) ">
                                    <i class="fas fa-trash "></i>
                                </button>
                            </th>
                        </tr>
                    </tbody>
                </table>

                <div *ngIf="!cargando && pacienteapp.length===0 " class="alert alert-warning text-center mt-3 animated fadeIn faster ">
                    <h4 class="alert-heading ">No hay registros</h4>
                    <p>
                        <i class="fa fa-exclamation fa-3x "></i>
                    </p>
                </div>

                <div *ngIf="cargando " class="alert alert-info text-center mt-3 animated fadeIn faster fuenteNexosMedical ">
                    <h4 class="alert-heading ">Cargando</h4>
                    <p>
                        <i id="spinner " class="fa fa-sync-alt fa-spin fa-3x "></i>
                    </p>
                    <p class="mb-0 fuenteNexosMedical ">Espere un momento</p>
                </div>

            </div>
        </div>
    </div>
</div>