<section class="page_404">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-12 col-sm-offset-1  text-center">
                    <div class="four_zero_four_bg">
                        <h1 class="text-center" style="font-family: 'Yusei Magic', sans-serif;">Error 404</h1>
                    </div>

                    <div class="contant_box_404">
                        <h3 class="h2" style="font-family: 'Yusei Magic', sans-serif;">
                            Parece que estas perdido
                        </h3>

                        <p style="font-family: 'Yusei Magic', sans-serif;">la página que buscas no está disponible o no existe !!!</p>

                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>